.input {
    width: 100%;
    height: 35px;
    border: 0.2px solid rgb(159, 160, 161);
    border-radius: 5px;
    font-size: 15px;
    padding: 0 0 0 10px;
}
input:focus{
    outline: none;
    border-color: var(--main-panel-color);
}

.label_input {
    color: var(--main-panel-color);
    font-weight: bold;
}